.carousel-container {
    width: 100%;
    /* height: 100%; */
    overflow: hidden;
    position: relative;
    max-width: 600px; /* Adjust as needed */
    margin: auto;
  }
  
  .carousel {
    display: flex;
    transition: transform 1s ease-in-out;
    width: 100%;
    /* height: 100%; */
  }
  
  .carousel-image {
    width: 100%;
    /* height: 100%; */
    flex-shrink: 0;
    object-fit: cover;
  }
  