.landing-header {
  margin: 0;
  padding: 15vh 0;
  color: #fff;
  padding-left: 10px;
}

.horizontal-content-container {
  /* display: flex;
  flex-direction: column; */
  position: relative;
  flex-wrap: nowrap; /* prevent wrapping to new lines */
  overflow-x: auto;  /* allow horizontal scrolling */
  overflow-y: hidden; /* optional: hide vertical scroll */
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
  /* border-top: 1px solid #fff; */
  border-bottom: 1px solid black;
  margin-bottom: 5px;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.horizontal-content-container::-webkit-scrollbar {
  display: none;
}

.card-container {
  display: flex;
}

.content-cards-header {
  margin: 0px;
  padding-left: 5px;
  position: sticky;
  left: 0;
  width: fit-content; /*for inside scrollable row */
  /* width: 100%; */
  /* text-decoration: underline; */
}

.scroll-wrapper {
  overflow: hidden;
  width: 100%;
  position: relative;
}

.card-container {
  display: flex;
  gap: 1rem; /* adjust gap between cards */
  animation: scrollCards 30s linear infinite;
}

.story-text-box {
  width: 50vw;
  color: white;
  font-size: 10px;
  text-transform: uppercase;
  padding: 10px;
  line-height: 16px;
}

.story-text-box > p {
  margin: 0px;
}

.utility-showcase-img {
  width: 195px;
  position: absolute;
  transform: rotate(-10deg);
  top: 10%;
  left: 50%;
}

@media (min-width: 1281px) {
  .story-text-box {
    font-size: 1em;
    width: 30vw;
  }

  .line-text {
    font-size: 2em;
    border-bottom-width: 2px;
  }

  .utility-showcase-img {
    width: 300px;
  }
}

/* @keyframes scrollCards {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%); /* adjust based on your card width */
  /* }
} */